.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#central {
  height: 100%;
  margin-top: 10em;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

h1 {
  text-transform: capitalize;
}

#main, .container
{
  border: .2em dotted gray;
  padding: 3em;
  border-radius: 2em;
  background-color: white;
  text-align: center; 
  width: 18em;
}

.weather-short {
  text-transform: capitalize;
  font-size: 1em;
}

.weather-desc {
  font-size: 1.2em;
}

.weather-rest {
  font-size: 1em;
}

button {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: 1em solid white;
  padding: 0.8em;
  background: black;
}

input {
  color: black;
  font-weight: bold;
  border: 0.1em solid black;
  padding: 0.8em;
  background: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: lavenderblush;
}